###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################

###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
        host_name               F_MINA_SERVER
        address                 10.10.x.x
}


###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             Current Load
    	check_command		            check_nrpe!check_load
}

# Define a service to check the disk space of the Data partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             Data Partition
    	check_command			        check_nrpe!check_Data
}


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             root Partition
    	check_command			        check_nrpe!check_root
}

# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             Current Users
	    check_command			        check_nrpe!check_users
}


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             Total Processes
	    check_command			        check_nrpe!check_total_procs
}


# Define a service to check the number of currently zombie procs
# on the local machine.  Warning if > 5 processes, critical if
# > 10.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             Zombie Processes
	    check_command			        check_nrpe!check_zombie_procs
}

# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service         ; Name of service template to use
        host_name                       F_MINA_SERVER
        service_description             Swap Usage
	    check_command			        check_nrpe!check_swap
}



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             SSH
#	    check_command			        check_ssh
#	    notifications_enabled		    0
#        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       localhost
#        service_description             HTTP
#	check_command			check_http
#	notifications_enabled		0
#        }


# Define a service to "ping" the local machine

#define service{
#        use                             local-service         ; Name of service template to use
#        host_name                       F_MINA_SERVER
#        service_description             PING
#	check_command			            check_nrpe!check_ping
#        }
