[client]
port = 3306
socket = /var/lib/mysql/mysql.sock
default-character-set=utf8mb4
 
[mysqld]
########basic settings########
user = mysql
port = 3306
socket = /var/lib/mysql/mysql.sock
datadir = /var/lib/mysql
pid-file = pid-file=/var/run/mysqld/mysqld.pid
character_set_server=utf8mb4
autocommit = 1
skip_name_resolve = 1
skip-external-locking
slave-skip-errors = 1032,1062,126,1114,1146,1048,1396
explicit_defaults_for_timestamp
transaction_isolation = READ-COMMITTED
validate_password=off
default_password_lifetime=0

#该参数与能够导入多大体积的备份数据(.sql)有关
max_allowed_packet = 256M


interactive_timeout = 1800
wait_timeout = 1800
back_log = 500
max_connections = 800
max_connect_errors = 1000
explicit_defaults_for_timestamp = 1
open_files_limit    = 6000
innodb_open_files   = 6000
table_open_cache    = 6000
table_definition_cache  = 6000

tmp_table_size = 67108864
tmpdir = /tmp
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
tmp_table_size = 128M
max_heap_table_size = 256M
sort_buffer_size = 16M
join_buffer_size = 16M
read_buffer_size = 16M
read_rnd_buffer_size = 8M
#bulk_insert_buffer_size default 8M
bulk_insert_buffer_size = 16M

########log settings########
log_error = /var/log/mysqld.log
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 90
long_query_time = 2
min_examined_row_limit = 100


########replication settings########

server-id = 1
master_info_repository = TABLE
relay_log_info_repository = TABLE
log_bin = mysql-bin
sync_binlog = 1
gtid_mode = on
enforce_gtid_consistency = 1
log_slave_updates
binlog_format = row
relay_log = mysql-relay-bin
relay_log_recovery = 1
binlog_gtid_simple_recovery = 1
slave_skip_errors = ddl_exist_errors

########innodb settings########
#about innodb
default-storage-engine = InnoDB
#innodb_buffer_pool_size 可设置为物理内存的50%-70%
innodb_buffer_pool_size = 1G
#innodb_data_file_path default 256M，提升为1G，(占用磁盘空间，与内存无关)承受高并发事务
innodb_data_file_path = ibdata1:1G:autoextend
#innodb_file_per_table 使用独立表空间，强烈建议开启
innodb_file_per_table = 1
#如果使用了file_per_table，以下参数将不影响独立表空间文件
innodb_autoextend_increment     = 10
#innodb_thread_concurrency从5.5开始设置为0
innodb_thread_concurrency = 0
#innodb_flush_log_at_trx_commit和sync_binlog，如果要求数据不能丢失则全部设置为1，如果允许少量丢失则分别为2和0，如果不在意数据丢失问题（如从库）则可都设置为0. 0最有利于性能。
innodb_flush_log_at_trx_commit = 1
#inodb_flush_method O_DSYNC/O_SYNC,前者直接写入磁盘 
innodb_flush_method = O_DSYNC
#log_bugger_size (2~8M,无需太大)
innodb_log_buffer_size = 3M
#innodb_log_file_size default 128m
innodb_log_file_size = 256M
#innodb_log_files_in_group default 3
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 50

#不再使用MyISAM引擎，key_buffer_dize设置32M左右即可,并强烈建议关闭query cache
key_buffer_size = 32M
query_cache_type = 0



########semi sync replication settings########
plugin_dir=/usr/lib64/mysql/plugin
plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
loose_rpl_semi_sync_master_enabled = 1
loose_rpl_semi_sync_slave_enabled = 1
loose_rpl_semi_sync_master_timeout = 5000
 
[mysqld-5.7]
innodb_buffer_pool_dump_pct = 40
innodb_page_cleaners = 4
innodb_undo_log_truncate = 1
innodb_max_undo_log_size = 2G
innodb_purge_rseg_truncate_frequency = 128
binlog_gtid_simple_recovery=1
log_timestamps=system
transaction_write_set_extraction=MURMUR32
show_compatibility_56=on
